<!DOCTYPE html>
<html>
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title%}
            <title>Translator</title>
        {% endblock %}
    </head>
    {% block content%}
        <body class="body-class">
                <form action="/translator" class="base-container container" method="POST">
                    <textarea  class="text-area" name="sentence" placeholder="Enter sentence">{{request.form["sentence"]}}</textarea>
                    <textarea  class="text-area" name="translation" placeholder="Перевод">{{translation}}</textarea>
                    <input type="submit" value="Translate">
                </form>
        </body>
    {% endblock %}
</html>